@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Aboreto&family=Abril+Fatface&family=Poppins:wght@800&family=Sofia+Sans+Extra+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Rubik+Dirt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.module {
    margin: 20px auto;
    width: 215%;
    height: 300px;
}

/* Navegación */
.navbar {
    padding: 1rem;
    background-color: #ececf0;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar a {
    color: rgb(0, 0, 0);
}

.navbar a:hover {
    color: #ED213A;
    transition: 0.2s ease-in;
    padding: 5px 15px;
    border-radius: 15%;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .navbar-collapse {
        display: none;
    }
}


/* LETRAS*/
.resumen-partido {
    font-family: 'Times New Roman', Times, serif;
    color: #93291E;
}

.articulo {
    border-radius: 80px 30px 80px 30px;
}

article {
    text-align: justify;
    max-width: 65ch;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(255, 248, 248);
    font-family: 'Aboreto', cursiva;
    font-weight: 400;
    font-size: 1.2rem;
}

.titulo-h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 1px rgb(0, 0, 0);
    padding: 30px;
    font-size: 3rem;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    background: #ED213A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h6 {
    font-size: 1.5rem;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 500;
    color: white;
    text-shadow: 1px 2px 1px black;
    text-align: justify;
}

.texto-publicidad {
    text-align: center;
    font-size: 2rem;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 700;
    padding: 10px;
}

a:hover {
    color: #93291E;
}

.blog-1944 {
    color: #000000;
}

.texto-parrafo {
    color: #ffffff;
    text-align: center;
    font-size: 2.8rem;
    text-shadow: 1px 2px 1px black;
    text-justify: auto;
}

.texto-h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: rgb(207, 205, 205);
    text-shadow: 1px 1px 1px rgb(3, 3, 3);
}

.texto-formacion {
    padding-top: 2%;
    text-align: center;
    font-size: 2.7rem;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 1px rgb(0, 0, 0);
    background: #ED213A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-center {
    margin-bottom: 10%;
    font-size: 2.7rem;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 1px rgb(255, 255, 255);
    text-align: center;
}

.texto-hinchas {
    padding-top: 2%;
    text-align: center;
    font-size: 2.7rem;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 1px rgb(0, 0, 0);
    background: #ED213A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.texto-hinchas-sub {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.noticias {
    margin-top: 20%;
}

.texto-card {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-align: 1px 2px 1px black;
}

.texto-folleto {
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 1px solid rgb(168, 165, 165);
    padding: 3%;
    text-align: center;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.texto-agradecimientos {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-align: 1px 2px 1px black;
    text-align: center;
}

.enlaces {
    color: rgb(164, 164, 168);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.enlaces:hover {
    color: blue;
}

.parrafo-card {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 2%;
    color: rgb(0, 0, 0);
    text-align: 1px 2px 1px rgb(255, 255, 255);
}

/* LOGOS - IMAGENES*/
#foto {
    max-width: 33%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: inline-block;
    margin: auto;
}

#foto2 {
    max-width: 33%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: inline-block;
    margin: auto;
}

#pizarra1{
    max-width: 33%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: inline-block;
    margin: auto;
}

#pizarra2{
    max-width: 33%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: inline-block;
    margin: auto;
}

.imagenes-pizarra{
    padding: 40px;
}
.imagenes-publicidad {
    padding: 40px;
}

.contenedor {
    padding-bottom: 5%;
    padding-top: 5%;
    width: 100%;
    display: flex;
    background: rgb(206, 205, 205);
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor>img {
    width: 20%;
    height: 400px;
    margin: 10px;
    border: 2px solid rgb(226, 226, 226);
    box-shadow: 10px 10px 10px #000000;
    flex: auto;
}

.contenedor>img:hover {
    transform: scale(1.3);
    transition: 1s ease-in;
}

@media screen and (max-width: 768px) {
    .contenedor img {
        width: 30%;
    }
}

@media screen and (max-width: 369px) {
    .contenedor img {
        width: 95%;
    }
}


.container-img {
    margin-right: auto;
    width: 100%;
    max-width: 1200px;

    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}

.container-img .box-img figure {
    width: 100%;
    height: 100%;
}

.container-img .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img .box-img:nth-child(1) {
    grid-column-start: span 2;
}

.container-img .box-img:nth-child(4) {
    grid-row-start: span 2;
}

@media screen and (max-width:800px) {
    .container-img {
        width: 85%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }

    .container-img .box-img:nth-child(1) {
        grid-column-start: span 1;
    }
}

@media screen and (max-width:500px) {
    .container-img {
        width: 85%;
        grid-template-columns: repeat(1, 1fr);
    }

    .container-img .box-img img {
        height: 200px;
    }
}



.fecha {
    background-image: url('Imagenes/copargentina.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px 20px;
    margin: 3%;
    background-color: #148f1417;
}

.fecha-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fecha-2 section {
    width: 100%;
    height: 100%
}

.logos-vs {
    margin: 2%;
    padding: 2%;
}

.fixture {
    font-size: 3rem;
}

.bi-list {
    background-color: antiquewhite;
    text-align: center;
}


#logo-f {
    border-radius: 80%;
    display: block;
    margin: 0 auto;
}

/* Folleto*/
#folleto {
    display: block;
    margin: 0 auto;
    padding: 2%;
    border-radius: 2% solid black;
}

/* footer - contacto*/
.texto-footer {
    text-align: center;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 600;
    color: #ececf0;
    letter-spacing: 2px;
}

.contenedor-footer {
    padding: 3%;
    display: block;
    margin: 0 auto;
}

.bi-envelope-at {
    color: rgb(177, 0, 0);
}

.bi-envelope-at:hover {
    color: black;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contacto {
    background-color: #000000e8;
    padding: 2%;
}


.bi-envelope-at {
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .carousel-item {
        width: 65%;
    }
}